@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
    font-display: swap;
}
html{
scroll-behavior: smooth;
}
body {
@apply bg-white text-gray-800;
font-family: 'Inter', system-ui, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
font-family: "Crimson Text", serif;
@apply font-semibold text-center;
}
h1 {
@apply text-3xl md:text-4xl;
}
h2 {
@apply text-2xl md:text-3xl;
}

h3 {
@apply text-xl md:text-2xl;
}
p{
    @apply text-center
}
html {
  scroll-behavior: smooth;
}
::selection {
  background: var(--color-primary);
  color: white;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: var(--color-light);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
::-webkit-scrollbar-track:hover {
  background: var(--color-light);
}
::-webkit-scrollbar-corner {
  background: var(--color-light);
}